<%- include("partials/head") %>



    <%- include("partials/navbar") %>
        <div class="container my-3">
            <h1>Welcome to the homepage <%= 4+5+5+1+1+1+1+1 %>
            </h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio suscipit, laborum esse tempore
                explicabo
                similique
                eius praesentium, officiis totam provident aliquam blanditiis exercitationem magnam reprehenderit
                voluptatum
                perferendis rem accusantium quod!</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta at, numquam minima nam quia iste
                magnam
                omnis
                sapiente quam incidunt deleniti neque aliquam molestiae, dolores quas eum fugiat eos eveniet!</p>
        </div>
        <%- include("partials/footer") %>