<%- include("partials/head") %>

    <div class="container my-5">

        <body>
            <%- include("partials/navbar") %>
                <h1>OH OH... The <%= subreddit %> subreddit is not found</h1>
                <img src="https://www.hostgator.mx/blog/wp-content/uploads/2018/10/paginas-de-error-hostgator.png"
                    alt="">
    </div>
    <%- include("partials/footer") %>